<layout name="Public/layout"/>

   <!-- 当前位置 -->
<div id="urHere">BoolCMS管理中心<b>></b><strong>数据备份</strong> </div>   <div class="mainBox" style="height:auto!important;height:550px;min-height:550px;">
    <h3><a href="__CONTROLLER__/recovery" class="actionBtn">恢复备份</a>数据备份</h3>
        <table width="100%" border="0" cellpadding="8" cellspacing="0" class="tableBasic">
     <form name="myform" method="post" action="__CONTROLLER__/backup">
      <tr>
       <th align="center">
        <input name='checkall' type='checkbox' id='chkall' onclick='selectcheckbox(this.form)' value='check' checked>
       </th>
       <th align="left">表名</th>
       <th align="center">类型</th>
       <th align="center">记录数</th>
       <th align="center">数据</th>
       <th align="center">索引</th>
       <th align="center">编码</th>
       <th align="center">注释</th>
       <th align="center">碎片</th>
       <th align="center">创建时间</th>
      </tr>

<volist name="tables" id="vo">
       <tr>
       <td align="center"><input type='checkbox' name='tables[]' value='{$vo.table_name }' checked></td>
       <td align="left">{$vo.table_name }</td>
       <td align="center">{$vo.engine }</td>
       <td align="center">{$vo.table_rows}</td>
       <td align="center">{:transByte($vo['data_length'])}</td>
       <td align="center">{:transByte($vo['index_length'])}</td>
       <td align="center">{$vo.table_collation}</td>
       <td align="center">{$vo.table_comment}</td>
       <td align="center">{$vo.data_free}</td>
       <td align="center">{$vo.create_time}</td>
      </tr>
</volist>

            <tr>
       <td colspan="10" align="right">数据库共 {:count($tables)} 张表 </td>
      </tr>
      <tr>
       <td colspan="10" align="center">分卷备份设置</td>
      </tr>
      <tr>
       <td colspan="10" align="center">
        备份文件名：<input type="text" class="inpMain" name="file_name" value="backup{:date('Ymd_His',time() )}" size='40'>
        文件大小：<input type="text" class="inpMain" name="size" value="2048" size="5">K

       </td>
      </tr>
      <tr>
       <td height="26" colspan="10">
        <input type="submit"  class="btn" value="确定备份"  onClick="__CONTROLLER__/backup">
       </td>
      </tr>
     </form>
    </table>
           </div>
 </div>
 <script>
    $(function(){
        $('.backup').parent().parent().addClass('cur');
    });

</script>
